body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

input {
  height: 30px;
  padding: 0 10px;
  font-size: 16px;
}

[data-js="form-cars"] {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  margin: 0 auto 40px auto;
}

.form-cars > label {
  margin-bottom: 10px;
}

.form-cars > input {
  margin-bottom: 10px;
}

.form-cars > button {
  height: 40px;
  cursor: pointer;
  margin-top: 10px;
}

[data-js="table-cars"] {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto 100px auto;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  width: calc(1000px / 6);
  text-align: center;
}

td > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

tr.empty-message > td {
  border: none;
  color: #dc3545;
  padding: 20px 0;
}

[data-js="button-delete"] {
  border: none;
  background-color: #dc3545;
  color: #fff;
  padding: 8px 10px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}


#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.success {
  background-color: #376e37;
}

#snackbar.error {
  background-color: #dc3545;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
