body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.button-visibility {
  border: 1px solid #2c3e50;
  cursor: pointer;
  padding: 4px;
}

.button-visibility:hover {
  background-color: #2c3e50;
  color: #fff;
}
